.page404Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fdfcff;
  text-align: center;
}

.errorCode {
  font-size: 6rem;
  font-weight: 800;
  color: #7c26a6;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.backButton {
  padding: 0.6rem 1.5rem;
  background-color: #7c26a6;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.backButton:hover {
  background-color: #691c8f;
  transform: translateY(-2px);
}
