.courseCard {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  border: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.courseCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.cardImage {
  height: 160px;
  object-fit: cover;
}

.cardBody {
  background-color: #f8f9fa;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.cardSubtitle {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 1rem;
}

.viewButton {
  background-color: transparent;
  border: 1px solid #7e22ce;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  transition: all 0.3s ease;
  margin-top: auto;
  align-self: flex-start;
}

.viewButton:hover {
  background-color: #7e22ce;
}

.viewLink {
  color: #7e22ce;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.viewButton:hover .viewLink {
  color: white;
}
