:root {
  --background-main: #d0e0f0;
  --background-card: #b5cfe6;
  --button-primary: #7d95b0;
  --button-hover: #5a7898;
  --text-main: #4a6f91;
  --text-secondary: #a3b1c6;
  --border: #90b3d2;
  --table-header: #7d95b0;
  --table-background: #ffffff;
  --table-border: #90b3d2;
  --table-row-even: #b5cfe6;
  --loader-color: #5a7898;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

a {
  text-decoration: none;
  color: var(--text-main);
}

a:hover {
  color: var(--button-hover);
}

.rbc-calendar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto !important;
  padding: 20px;
}

.rbc-header {
  background-color: #e2e3e3;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
}
.rbc-time-view .rbc-time-gutter {
  background-color: #e2e3e3;
}
.rbc-time-header-gutter {
  background-color: #e2e3e3;
}
.rbc-allday-cell {
  display: none;
}
.rbc-time-header-cell .rbc-today {
  background-color: #86a5c2;
  color: white;
}
