:root {
  --background-main: #d0e0f0;
  --background-card: #b5cfe6;
  --button-primary: #7d95b0;
  --button-hover: #5a7898;
  --text-main: #4a6f91;
  --text-secondary: #a3b1c6;
  --border: #90b3d2;
  --table-header: #7d95b0;
  --table-background: #ffffff;
  --table-border: #90b3d2;
  --table-row-even: #b5cfe6;
  --loader-color: #5a7898;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-main);
  color: var(--text-main);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Înălțimea întregii ferestre */
  width: 100vw; /* Lățimea întregii ferestre */
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--loader-color) 94%, #0000)
      top/8px 8px no-repeat,
    conic-gradient(#0000 30%npm install -g depcheck, var(--loader-color));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

a {
  text-decoration: none;
  color: var(--text-main);
}

a:hover {
  color: var(--button-hover);
}

.rbc-calendar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto !important;
  padding: 20px;
}

.rbc-header {
  background-color: #e2e3e3;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
}
.rbc-time-view .rbc-time-gutter {
  background-color: #e2e3e3;
}
.rbc-time-header-gutter {
  background-color: #e2e3e3;
}
.rbc-allday-cell {
  display: none;
}
.rbc-time-header-cell .rbc-today {
  background-color: #86a5c2;
  color: white;
}
