/* Layout container */
.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Columns container */
  .layoutColumns {
    display: flex;
    flex: 1;
  }
  
  /* Content area styling */
  .layoutContent {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
  }
  