.sidebar {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
  background-color: var(--background-card);
  border-right: solid 1px #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.sidebarHeader {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: var(--text-main);
}

.toggleButton {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f9fafb;
  border-radius: 4px;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: #f3f4f6;
}

.sidebarMenu {
  flex-grow: 1;
  padding: 5px 0;
  list-style: none;
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin: 4px 0;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, padding 0.3s ease;
}

.sidebarItem:hover {
  background-color: #f3f4f6;
}

.sidebarItem.active {
  background: linear-gradient(to top right, #c3dafe, #ebf4ff);
  color: #5a67d8;
}

.itemText {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
}

.label {
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.sidebarFooter {
  padding: 16px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  transition: justify-content 0.3s ease;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userName {
  font-size: 1.25rem;
}

.userInfo {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 8px;
  overflow: hidden;
  transition: width 0.3s ease, margin-left 0.3s ease;
}
